/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */
/* black-red */
/* black-yellow */
/* black-blue */
/* black-teal */
/* black-orange */
/*
 * A Design by GraphBerry
 * Author: GraphBerry
 * Author URL: http://graphberry.com
 * License: http://graphberry.com/pages/license
 */
/* Table of content
1.General - This is created general styles and overide some bootstrap classes.
2.Layout
 2.1 Animations
 2.2 Buttons
 2.3 Thumbnail - overide bootstrap thumbnail and add mased efect
 2.4 Socail icons -style for social icons list
3 Sections - definition for section and subsection
 3.1 Services
 3.2 Portfolio
 3.3 About
 3.4 Clients
 3.5 Price table
 3.6 Newsletter
 3.7 Contact
 3.8 Footer
4 Responsive 
**********************************************************************/
/*
1. General
**********************************************************************/
/* line 30, ../sass/components/_main.scss */
body {
  font-family: 'Roboto', sans-serif;
  color: #FFF;
  line-height: 1.2em;
  font-size: 17px;
  line-height: 20px;
}

/* line 37, ../sass/components/_main.scss */
a {
  color: #212121;
  text-decoration: none;
}

/* line 41, ../sass/components/_main.scss */
a:hover {
  color: #FF5346;
  text-decoration: none;
}

/* line 45, ../sass/components/_main.scss */
h1, h2, h3, h4, h5, h6 {
  font-weight: normal;
}

/* line 48, ../sass/components/_main.scss */
h1 {
  margin: 10px;
}

/* line 51, ../sass/components/_main.scss */
p {
  padding: 10px;
  font-weight: 100;
  color: #fff;
}

/* line 56, ../sass/components/_main.scss */
.navbar {
  background: #212121;
  margin-bottom: 0;
  min-height: 70px;
}

/* line 62, ../sass/components/_main.scss */
.navbar-fixed-top {
  min-height: 60px;
  height: 60px;
  padding-top: 0;
}

/* line 67, ../sass/components/_main.scss */
.navbar-inner {
  background: #212121;
  border-radius: 0;
  filter: none;
  border: none;
  box-shadow: none;
}

/* line 74, ../sass/components/_main.scss */
.navbar .brand img {
  width: 120px;
  height: 40px;
}

/* line 78, ../sass/components/_main.scss */
.navbar .nav > li > a {
  text-transform: uppercase;
  line-height: auto;
  vertical-align: middle;
  margin: 10px 3px;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  border: 1px solid #212121;
  box-shadow: none;
  font-size: 15px;
  text-shadow: none;
  color: #fff;
  transition: border-color 1s ease;
}

/* line 92, ../sass/components/_main.scss */
.navbar .nav > li:hover > a, .navbar .nav > .active > a, .navbar .nav > .active > a:hover, .navbar .nav > .active > a:focus {
  border: 1px solid #FF5346;
  color: #fff;
  background-color: #212121;
  transition: border-color 1s ease;
}

/* line 98, ../sass/components/_main.scss */
.nav-pills {
  margin-bottom: 30px;
}

/* line 101, ../sass/components/_main.scss */
.nav-pills > li > a {
  background: transparent;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0;
  margin-right: 5px;
  padding-left: 25px;
  padding-right: 25px;
  border: 1px solid #efeded;
  color: #efeded;
}

/* line 112, ../sass/components/_main.scss */
.nav-pills > li > a:hover, .nav-pills > .active > a, .nav-pills > .active > a:hover, .nav-pills > .active > a:focus {
  background: #212121;
  color: #fff;
  border: 1px solid #212121;
}

/* line 117, ../sass/components/_main.scss */
.navbar .btn-navbar:hover, .navbar .btn-navbar {
  border-radius: 0;
  background: #FF5346;
  color: #000;
}

/******
2. Layout
**********************************************************************/
/* line 125, ../sass/components/_main.scss */
.centered {
  margin-left: auto;
  margin-right: auto;
  float: none;
  text-align: center;
}

/* Use this class if you want ceter element with span* class */
/* line 132, ../sass/components/_main.scss */
.center {
  float: none !important;
  margin: 0 auto !important;
  text-align: center;
}

/* line 137, ../sass/components/_main.scss */
.highlighted-box {
  background: #F4F8F9;
  padding: 20px 30px;
}

/* line 141, ../sass/components/_main.scss */
.highlighted-box h1 {
  margin: 0px;
}

/* line 144, ../sass/components/_main.scss */
.large-text {
  line-height: 1.2em;
  font-size: 30px;
  color: #212121;
  padding: 20px;
  margin-bottom: 20px;
}

/* line 151, ../sass/components/_main.scss */
.highlighted-box h1, .highlighted-box p {
  color: #212121 !important;
}

/* line 154, ../sass/components/_main.scss */
.circle-border {
  display: inline-block;
  -webkit-border-radius: 500px;
  -moz-border-radius: 500px;
  border-radius: 500px;
  -khtml-border-radius: 500px;
  border: 3px solid #fff;
}

/* line 162, ../sass/components/_main.scss */
.left-align {
  text-align: left;
}

/* line 165, ../sass/components/_main.scss */
.right-align {
  text-align: left;
}

/* line 168, ../sass/components/_main.scss */
.error {
  color: #CF0000;
  display: none;
}

/* line 172, ../sass/components/_main.scss */
.invisible {
  display: none;
  visibility: visible;
}

/* line 176, ../sass/components/_main.scss */
.triangle {
  margin: 0 auto;
  text-align: center;
  width: 0;
  height: 0;
  border-top: 30px solid #212121;
  border-left: 585px outset transparent;
  border-right: 585px outset transparent;
  position: relative;
}

/* line 186, ../sass/components/_main.scss */
.triangle.white {
  border-top: 30px solid #efeded !important;
}

/* line 189, ../sass/components/_main.scss */
.triangle.red {
  border-top: 30px solid #FF5346 !important;
}

/*
2.1 Animations
**********/
/* line 197, ../sass/components/_main.scss */
.zoom-in {
  -webkit-transform: scale(1, 1);
  -moz-transform: scale(1, 1);
  -o-transform: scale(1, 1);
  -ms-transform: scale(1, 1);
  -webkit-transition: all 250ms ease;
  -moz-transition: all 250ms ease;
  -o-transition: all 250ms ease;
  -ms-transition: all 250ms ease;
  transition: all 250ms ease;
}

/* line 208, ../sass/components/_main.scss */
.zoom-in:hover {
  -webkit-transform: scale(1.1, 1.1);
  -moz-transform: scale(1.1, 1.1);
  -o-transform: scale(1.1, 1.1);
  -ms-transform: scale(1.1, 1.1);
}

/*
2.2 Buttons - There are buttons on a transparent background, primary and secondary color background.
**********/
/* line 217, ../sass/components/_main.scss */
.button, .button:visited, .button:focus {
  display: inline-block;
  border: 1px solid #212121;
  color: #212121;
  background-color: transparent;
  padding: 15px 30px;
  font-size: 17px;
  line-height: auto;
}

/* line 226, ../sass/components/_main.scss */
.button:hover, .button:active {
  background-color: #212121;
  color: #fff;
}

/* line 230, ../sass/components/_main.scss */
.button-sp, .button-sp:visited, .button-sp:focus {
  border: none;
  background-color: #FF5346;
  color: #212121;
}

/* line 235, ../sass/components/_main.scss */
.button-sp:hover, .button-sp:active {
  background-color: #212121;
  color: #FF5346;
}

/* line 239, ../sass/components/_main.scss */
.button-ps, .button-ps:visited, .button-ps:focus {
  border: none;
  background-color: #212121;
  color: #FF5346;
}

/* line 244, ../sass/components/_main.scss */
.button-ps:hover, .button-ps:active {
  background-color: #FF5346;
  color: #212121;
}

/*
2.3 Thumbnails - Predefined bootstrap's thumbnail class.
**********/
/* line 251, ../sass/components/_main.scss */
.thumbnail {
  width: 100%;
  height: 100%;
  padding: 0;
  overflow: hidden;
  position: relative;
  border: 0;
  border-radius: 0;
  box-shadow: none;
  text-align: center;
  background: #191a1c;
}

/* line 263, ../sass/components/_main.scss */
.thumbnail .more {
  display: block;
  z-index: 4;
  position: absolute;
  top: -100px;
  left: 50%;
  margin: 0 auto;
  margin-left: -41px;
  width: 80px;
  height: 80px;
  font-size: 40px;
  color: #fff;
  text-decoration: none;
  line-height: 70px;
  text-align: center;
}

/* line 279, ../sass/components/_main.scss */
.thumbnail:hover .more {
  top: 40%;
  margin-top: -40px;
  -webkit-transition: all 0.3s ease-out;
  -moz-transition: all 0.3s ease-out;
  -o-transition: all 0.3 s ease-out;
  -ms-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out;
}

/* line 288, ../sass/components/_main.scss */
.thumbnail h3,
.thumbnail p {
  margin: 0;
  padding: 0;
  position: relative;
  z-index: 4;
}

/* line 295, ../sass/components/_main.scss */
.thumbnail h3 {
  color: #FF5346;
  margin-top: 10px;
  font-size: 20px;
}

/* line 300, ../sass/components/_main.scss */
.thumbnail > p {
  padding-bottom: 20px;
}

/* line 303, ../sass/components/_main.scss */
.thumbnail .mask {
  opacity: 0.85;
  filter: alpha(opacity=85);
  top: 100%;
  left: 0;
  width: 100%;
  height: 100%;
  background: #212121;
  position: absolute;
  -webkit-transition: all 0.2s ease-out;
  -moz-transition: all 0.2s ease-out;
  -o-transition: all 0.2 s ease-out;
  -ms-transition: all 0.2s ease-out;
  transition: all 0.2s ease-out;
}

/* line 318, ../sass/components/_main.scss */
.thumbnail:hover .mask {
  top: 0;
}

/*
2.4 Socail icons
************/
/* line 324, ../sass/components/_main.scss */
.social {
  list-style: none;
  float: none;
  position: relative;
  margin: 5px auto;
}

/* line 330, ../sass/components/_main.scss */
.social li {
  display: inline-block;
  line-height: 32px;
  font-family: 'Porta';
  font-size: 32px;
  padding: 0 5px;
}

/* line 337, ../sass/components/_main.scss */
.social li a {
  margin: 0;
  padding: 0;
  width: 32px;
  height: 32px;
  color: #FF5346;
}

/* line 344, ../sass/components/_main.scss */
.social li a:hover {
  color: #212121;
}

/*
3. Sections 
***************************************************************************/
/* line 350, ../sass/components/_main.scss */
.section {
  padding-bottom: 50px;
}

/* line 353, ../sass/components/_main.scss */
.section .container {
  padding-top: 50px;
}

/* line 356, ../sass/components/_main.scss */
.section .title {
  text-align: center;
  padding: 10px;
  margin-bottom: 30px;
}

/* line 361, ../sass/components/_main.scss */
.section .title h1 {
  font-weight: normal;
  margin-bottom: 20px;
  padding: 0;
}

/* line 366, ../sass/components/_main.scss */
.section .title > p {
  font-size: 20px;
  color: #FFF;
  font-weight: lighter;
}

/* line 371, ../sass/components/_main.scss */
.primary-section {
  background: #212121;
}

/* line 374, ../sass/components/_main.scss */
.primary-section .triangle {
  border-top: 40px solid #efeded;
}

/* line 377, ../sass/components/_main.scss */
.primary-section .title {
  border-bottom: 1px solid #FFF;
}

/* line 380, ../sass/components/_main.scss */
.primary-section, .primary-section .title p, .primary-section h3 {
  color: #efeded;
}

/* line 383, ../sass/components/_main.scss */
.primary-section h1 {
  color: #FFF;
}

/* line 386, ../sass/components/_main.scss */
.secondary-section {
  background: #efeded;
}

/* line 389, ../sass/components/_main.scss */
.secondary-section.red {
  background: #FF5346;
}

/* line 393, ../sass/components/_main.scss */
.secondary-section .title {
  border-bottom: 1px solid #212121;
}

/* line 396, ../sass/components/_main.scss */
.secondary-section.red .title {
  border-bottom: 1px solid #efeded;
}

/* line 399, ../sass/components/_main.scss */
.secondary-section h1, .secondary-section .title p {
  color: #212121;
}

/* line 402, ../sass/components/_main.scss */
.secondary-section.red h1, .secondary-section.red .title p {
  color: #efeded;
}

/* Third section use bacground image */
/* line 406, ../sass/components/_main.scss */
.third-section {
  padding-bottom: 70px;
  background: #212121 url(../images/brand-bg.png) no-repeat center;
  border-top: 6px solid #FF5346;
}

/* line 411, ../sass/components/_main.scss */
.third-section .container {
  padding-top: 20px;
  position: relative;
}

/* line 415, ../sass/components/_main.scss */
.third-section .title {
  border-bottom: 1px solid #A1AAB7;
  color: #FF5346;
}

/* line 419, ../sass/components/_main.scss */
.sub-section {
  margin-top: 30px;
}

/* line 422, ../sass/components/_main.scss */
.sub-section .title {
  padding: 0;
}

/*******
3.1 Services  
***************************************/
/* line 428, ../sass/components/_main.scss */
.service {
  margin-top: 20px;
}

/* line 431, ../sass/components/_main.scss */
.service, .service h2 {
  padding-top: 15px;
}

/* line 434, ../sass/components/_main.scss */
.service p {
  padding: 0px 50px;
  height: 60px;
}

/* line 438, ../sass/components/_main.scss */
.service img {
  width: 150px;
  height: 150px;
}

/*
3.2 Portfolio
***************************************/
/* line 445, ../sass/components/_main.scss */
.single-project {
  margin-bottom: 30px;
  background: #212121;
}

/* line 449, ../sass/components/_main.scss */
.single-project img {
  width: 100%;
}

/* line 452, ../sass/components/_main.scss */
.project-description {
  padding-right: 20px;
}

/* line 455, ../sass/components/_main.scss */
.project-description p {
  padding-left: 0;
}

/* line 458, ../sass/components/_main.scss */
.project-title {
  margin-top: 15px;
  margin-bottom: 15px;
  border-bottom: 1px solid #FF5346;
}

/* line 463, ../sass/components/_main.scss */
.project-title h3 {
  float: left;
  margin-top: 0;
  padding: 0;
  width: 80%;
}

/* line 469, ../sass/components/_main.scss */
.project-title .close {
  color: #FF5346;
  margin-top: 10px;
}

/* line 473, ../sass/components/_main.scss */
.project-info span, .project-title h3 {
  color: #FF5346;
}

/* line 476, ../sass/components/_main.scss */
.project-info {
  font-weight: 100;
  padding: 10px 0;
}

/* line 480, ../sass/components/_main.scss */
.project-info span {
  width: 80px;
  display: inline-block;
}

/* line 484, ../sass/components/_main.scss */
.project-info div {
  margin-bottom: 5px;
}

/* line 487, ../sass/components/_main.scss */
.close {
  float: right;
  width: 40px;
  height: 40px;
  text-align: center;
}

/* line 493, ../sass/components/_main.scss */
#portfolio-grid .mix {
  opacity: 0;
  display: none;
}

/*
3.3 About
******************************************************************/
/* line 500, ../sass/components/_main.scss */
.team .thumbnail {
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  padding: 10px;
  border: 1px solid #fff;
}

/* line 507, ../sass/components/_main.scss */
.team .thumbnail:hover .social {
  z-index: 5;
}

/* line 510, ../sass/components/_main.scss */
.team .thumbnail:hover .social a {
  color: #fff;
}

/* line 513, ../sass/components/_main.scss */
.team .thumbnail .mask {
  background: #FF5346;
}

/* line 516, ../sass/components/_main.scss */
.team .thumbnail .mask h2 {
  margin-top: 20%;
}

/* line 519, ../sass/components/_main.scss */
.team .thumbnail .mask, .team .thumbnail .mask h3, .team .thumbnail .mask p, .team .thumbnail:hover h3, .team .thumbnail:hover .social a:hover {
  color: #181A17;
}

/* line 522, ../sass/components/_main.scss */
.about-text {
  margin-top: 30px;
}

/* line 525, ../sass/components/_main.scss */
.about-text p {
  padding: 0;
  font-size: 16px;
}

/*********************************************************************
                        SKILLS BAR
*********************************************************************/
/* line 532, ../sass/components/_main.scss */
.skills {
  list-style-type: none;
  position: relative;
  margin: 0px;
}

/* line 537, ../sass/components/_main.scss */
.skills li {
  margin-bottom: 30px;
  background: #FFF;
  height: 40px;
  padding: 1px;
}

/* line 543, ../sass/components/_main.scss */
.skills li h3 {
  position: relative;
  font-size: 15px;
  padding: 0;
  margin: 0;
  left: 10px;
  z-index: 1;
  color: #efeded;
}

/* line 552, ../sass/components/_main.scss */
.skills li .bar {
  height: 40px;
  position: absolute;
  background-color: #FF5346;
}

/*
3.4 Clients
**********************************************************************/
/* line 560, ../sass/components/_main.scss */
.client-slider img {
  border: 1px solid white;
}

/* line 563, ../sass/components/_main.scss */
.client-slider img:hover {
  background-color: #FF5346;
}

/* line 566, ../sass/components/_main.scss */
.client-nav {
  list-style: none;
  margin-top: 10px;
}

/* line 570, ../sass/components/_main.scss */
.client-nav li {
  float: left;
  display: block;
  margin-left: 10px;
}

/* line 575, ../sass/components/_main.scss */
.client-nav li a {
  display: inherit;
  padding: 5px;
  background: #FF5346;
  border-radius: 3px;
  width: 20px;
  height: 20px;
}

/* line 583, ../sass/components/_main.scss */
.client-nav li a:hover {
  background: #212121;
}

/* line 586, ../sass/components/_main.scss */
.testimonial p {
  color: #212121;
  background: #FF5346;
  padding: 15px;
  margin: 0;
}

/* line 592, ../sass/components/_main.scss */
.testimonial .arrow {
  margin-left: 10px;
  width: 0;
  border-top: 10px solid #FF5346;
  border-left: 20px outset transparent;
  border-right: 20px outset transparent;
}

/* line 599, ../sass/components/_main.scss */
.testimonial .whopic {
  display: inline-block;
}

/* line 602, ../sass/components/_main.scss */
.testimonial .whopic img {
  margin-top: 10px;
  width: 50px;
  height: 50px;
  float: left;
}

/* line 608, ../sass/components/_main.scss */
.testimonial .whopic strong {
  float: left;
  margin-top: 10px;
  padding-left: 10px;
}

/* line 613, ../sass/components/_main.scss */
.testimonial .whopic small {
  display: block;
  font-size: 12px;
}

/* line 618, ../sass/components/_main.scss */
.testimonial-text {
  display: block;
  font-size: 22px;
  text-align: center;
  margin: 0 auto;
  margin-top: 30px;
  width: 70%;
  line-height: 1.3em;
}

/*
3.5 Price table
******************************************************************/
/* line 630, ../sass/components/_main.scss */
.price-table {
  margin-top: 70px;
  margin-bottom: 20px;
}

/* line 634, ../sass/components/_main.scss */
.price-column {
  background-color: white;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius: 10px;
  padding-bottom: 20px;
  margin: 0 auto;
  text-align: center;
}

/* line 643, ../sass/components/_main.scss */
.price-column h3 {
  background-color: #212121;
  text-transform: uppercase;
  text-align: center;
  color: #FF5346;
  padding: 40px 0px;
  font-size: 36px;
  margin-top: 0px;
  -moz-border-radius: 0px;
  -webkit-border-radius: 10px 10px 0px 0px;
  border-radius: 10px 10px 0px 0px;
}

/* line 655, ../sass/components/_main.scss */
.price-column .list {
  list-style: none;
  margin: 20px 50px;
}

/* line 659, ../sass/components/_main.scss */
.price-column .list li {
  font-weight: lighter;
  color: #747C89;
  font-size: 20px;
  border-bottom: 1px solid #747C89;
  padding: 25px 0px;
}

/* line 666, ../sass/components/_main.scss */
.price-column .list li.price {
  text-align: center;
  font-size: 31px;
  background-color: white;
  color: #747C89;
  margin-top: 25px;
}

/* line 673, ../sass/components/_main.scss */
.price-text {
  margin: 30px 0 20px;
  font-size: 20px;
  color: #212121;
  font-weight: normal;
}

/*
3.6 Newsletter
********************************************************************/
/* line 682, ../sass/components/_main.scss */
.newsletter, .newsletter h2 {
  color: #D7DDDE;
}

/* line 685, ../sass/components/_main.scss */
.newsletter .title h2 {
  text-align: left;
  padding: 0;
  margin: 0;
}

/* line 690, ../sass/components/_main.scss */
.newsletter form {
  text-align: right;
}

/* line 693, ../sass/components/_main.scss */
.newsletter input {
  margin-top: 10px;
  padding: 15px;
  height: auto;
}

/* line 698, ../sass/components/_main.scss */
.newsletter button {
  margin: 0 0 0 20px;
}

/* line 701, ../sass/components/_main.scss */
.newsletter .button-sp:hover, .newsletter .button-sp:active {
  background-color: #FFF;
  color: #212121;
}

/*
3.7 Contact
********************************************************************/
/* line 709, ../sass/components/_main.scss */
.contact {
  background: #FF5346;
}

/* line 712, ../sass/components/_main.scss */
.contact h1, .contact h2, .contact h3, .contact h4, .contact h5, .contact h6, .contact .section .title > p, .contact .social > li > a {
  color: #efeded;
}

/* line 715, ../sass/components/_main.scss */
.contact textarea, .contact input[type="text"], .contact input[type="email"] {
  padding: 10px;
  line-height: 20px;
  height: auto;
}

/* line 720, ../sass/components/_main.scss */
.contact textarea {
  height: 120px;
}

/* line 723, ../sass/components/_main.scss */
.contacts, .contact .social {
  color: #fff;
  list-style: none;
  margin-left: 10px;
}

/* line 728, ../sass/components/_main.scss */
.contacts > li {
  margin-top: 15px;
}

/* line 731, ../sass/components/_main.scss */
.contacts > li > a {
  color: #fff;
}

/* line 734, ../sass/components/_main.scss */
.contact-info {
  margin-top: 10px;
  margin-bottom: 10px;
}

/* line 738, ../sass/components/_main.scss */
.contact-info p {
  font-weight: normal;
}

/* line 741, ../sass/components/_main.scss */
.contact-info .icon {
  margin: 10px auto;
  font-size: 30px;
}

/* line 745, ../sass/components/_main.scss */
.map-wrapper {
  position: relative;
  height: 500px;
}

/* line 749, ../sass/components/_main.scss */
.map-canvas {
  position: absolute;
  margin-bottom: 20px;
  width: 100%;
  height: 500px;
  color: #29383F;
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
}

/* line 760, ../sass/components/_main.scss */
.contact .social {
  display: inline-block;
  margin-left: 0;
}

/* line 764, ../sass/components/_main.scss */
.contact .social li {
  line-height: 32px;
  padding: 10px 10px;
  font-family: 'Porta';
  font-size: 50px;
  transition: margin 0.4s;
  -webkit-transition: margin 0.4s;
}

/* line 772, ../sass/components/_main.scss */
.contact .social li a {
  color: #fff;
}

/* line 775, ../sass/components/_main.scss */
.contact .social li a:hover {
  color: #FF5346;
}

/* line 778, ../sass/components/_main.scss */
.contact-form {
  background: #fff;
  background: rgba(255, 255, 255, 0.9);
  z-index: 110;
  position: relative;
  margin-top: -25px;
  padding: 20px;
}

/* line 786, ../sass/components/_main.scss */
.contact-form h3 {
  color: #838589;
  padding-bottom: 20px;
}

/* line 790, ../sass/components/_main.scss */
.message-btn {
  border: 1px solid #747C89;
  color: #747C89;
  background-color: transparent;
  padding: 15px 30px;
  font-size: 17px;
}

/* line 797, ../sass/components/_main.scss */
.message-btn:hover {
  background-color: #FF5346;
}

/* line 800, ../sass/components/_main.scss */
.contact-info {
  text-align: center;
  font-size: 22px;
}

/* line 804, ../sass/components/_main.scss */
.info-mail {
  border: 1px solid white;
  width: 60%;
  margin: 0 auto;
  padding: 15px;
  color: #efeded;
}

/* line 811, ../sass/components/_main.scss */
.black {
  color: #212121;
}

/*
3.8 Footer
********************************************************************/
/* line 817, ../sass/components/_main.scss */
.footer {
  background: #212121;
  text-align: center;
}

/* line 821, ../sass/components/_main.scss */
.footer > p {
  color: #fff;
  margin: 0;
}

/* line 825, ../sass/components/_main.scss */
.scrollup {
  text-align: center;
  cursor: pointer;
  vertical-align: middle;
  width: 39px;
  height: 39px;
  border-radius: 5px;
  font-size: 20px;
  position: fixed;
  bottom: 30px;
  right: 20px;
  border: 1px solid #fff;
  display: none;
  background: #FF5346;
}

/* line 840, ../sass/components/_main.scss */
.scrollup > a {
  position: relative;
  top: 7px;
  color: #fff;
}

/*
4 Responsible
********************************************************************/
@media (min-width: 1200px) {
  /* line 849, ../sass/components/_main.scss */
  .thumbnail .more {
    margin-left: -41px;
    width: 80px;
    height: 80px;
    border-radius: 40px;
    line-height: 80px;
  }
}
@media (max-width: 979px) {
  /* line 858, ../sass/components/_main.scss */
  body {
    padding-left: 0;
    padding-right: 0;
  }

  /* line 862, ../sass/components/_main.scss */
  .navbar-fixed-top, .navbar-fixed-bottom {
    position: fixed;
  }

  /* line 865, ../sass/components/_main.scss */
  .navbar .nav > li > a {
    line-height: 20px;
    vertical-align: middle;
  }

  /* line 869, ../sass/components/_main.scss */
  .section {
    padding-left: 20px;
    padding-right: 20px;
  }

  /* line 873, ../sass/components/_main.scss */
  .navbar-fixed-top, .navbar-fixed-bottom, .navbar-static-top {
    margin-left: 0px;
    margin-right: 0px;
  }

  /* line 877, ../sass/components/_main.scss */
  .nav-collapse {
    clear: both;
  }

  /* line 880, ../sass/components/_main.scss */
  .nav-collapse .nav {
    float: none;
    margin: 0 0 10px;
  }

  /* line 884, ../sass/components/_main.scss */
  .nav-collapse .nav > li {
    float: none;
  }

  /* line 887, ../sass/components/_main.scss */
  .nav-collapse, .nav-collapse.collapse {
    width: 100%;
    display: inherit;
  }

  /* line 891, ../sass/components/_main.scss */
  .thumbnail .more {
    margin-left: -21px;
    width: 40px;
    height: 40px;
    border-radius: 30px;
    line-height: 40px;
  }

  /* line 898, ../sass/components/_main.scss */
  .thumbnail:hover .more {
    margin-top: -20px;
  }

  /* line 901, ../sass/components/_main.scss */
  .newsletter form {
    text-align: center;
  }
}
@media (max-width: 767px) {
  /* line 906, ../sass/components/_main.scss */
  .info-mail {
    width: 90%;
    padding: 15px 0px;
  }

  /* line 910, ../sass/components/_main.scss */
  .project-description {
    padding-left: 20px;
  }

  /* line 913, ../sass/components/_main.scss */
  .price-column, .testimonial {
    margin-top: 30px;
  }
}
/* line 10, ../sass/style.scss */
.da-slider .mask {
  background: #FF5346 !important;
}

/* Ilin */
/* line 18, ../sass/style.scss */
.link--ilin {
  font-weight: 900;
  line-height: .8;
  overflow: hidden;
  color: #FFCDD2;
  font-size: 40px;
  font-family: sans-serif;
  font-style: italic;
  display: block;
  float: left;
  margin-top: 12px;
}

/* line 32, ../sass/style.scss */
.link--ilin span {
  position: relative;
  display: inline-block;
  -webkit-transition: color 0.5s;
  transition: color 0.5s;
}

/* line 39, ../sass/style.scss */
.link--ilin span:last-of-type {
  padding-right: 10px;
}

/* line 44, ../sass/style.scss */
.link--ilin:hover span:first-of-type {
  color: #fff;
}

/* line 48, ../sass/style.scss */
.link--ilin:hover span:last-of-type {
  color: #FF5346;
}

/* line 52, ../sass/style.scss */
.link--ilin span::before {
  content: '';
  position: absolute;
  width: 100%;
  height: 100%;
  background: #fff;
  line-height: 0.8;
  -webkit-transition: -webkit-transform 0.5s;
  transition: transform 0.5s;
}

/* line 63, ../sass/style.scss */
.link--ilin span:last-of-type::before {
  background: #1e1a1b;
}

/* line 67, ../sass/style.scss */
.link--ilin:hover span:last-of-type::before,
.link--ilin span:first-of-type::before {
  -webkit-transform: translate3d(0, -150%, 0);
  transform: translate3d(0, -150%, 0);
}

/* line 73, ../sass/style.scss */
.link--ilin:hover span:first-of-type::before,
.link--ilin span:last-of-type::before {
  -webkit-transform: translate3d(0, 150%, 0);
  transform: translate3d(0, 150%, 0);
}

/* line 81, ../sass/style.scss */
.secondary-section h3 {
  color: #212121;
}

/* line 84, ../sass/style.scss */
.navbar .nav > li > a:focus {
  color: #fff;
}

/* line 88, ../sass/style.scss */
#portfolio-grid h3, .project-title h3 {
  color: #efeded;
}

/* line 92, ../sass/style.scss */
.sert_link {
  color: #efeded;
}

/* line 95, ../sass/style.scss */
.sert_link:hover, .sert_link:focus {
  color: #efeded;
  text-decoration: underline;
}

/* line 100, ../sass/style.scss */
.project-text {
  padding: 10px;
  padding-left: 0;
  font-weight: 100;
  color: #fff;
}

/* line 106, ../sass/style.scss */
.project-text ul {
  padding-top: 7px;
  padding-bottom: 10px;
}

/* line 111, ../sass/style.scss */
.social {
  padding-top: 5px;
}

/* line 114, ../sass/style.scss */
.social li a {
  display: block;
  background-color: #efeded;
  color: #212121 !important;
  border-radius: 50%;
  font-size: 30px;
  width: 50px;
  height: 50px;
  text-align: center;
}

/* line 124, ../sass/style.scss */
.social li a:hover {
  background-color: #FF5346;
}

/* line 127, ../sass/style.scss */
.social a i {
  padding-top: 9px;
}

/* line 131, ../sass/style.scss */
.contact .section {
  padding-bottom: 0px;
}
