/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */

// components
@import "components/variables";
@import "components/main";

.da-slider .mask {
    background: $background-color-extra!important;
}




/* Ilin */
.link--ilin {
  font-weight: 900;
  line-height: .8;
  overflow: hidden;
  color: #FFCDD2;
  font-size: 40px;
  font-family: sans-serif;
  font-style: italic;
  
	display: block;
    float: left;
	margin-top: 12px;
}

.link--ilin span {	
	position: relative;
	display: inline-block;
	-webkit-transition: color 0.5s;
	transition: color 0.5s;
}

.link--ilin span:last-of-type {
	padding-right:10px
}


.link--ilin:hover span:first-of-type {
	  color: #fff
}

.link--ilin:hover span:last-of-type {
	color: $background-color-extra;
}

.link--ilin span::before {
	content: '';
	position: absolute;
	width: 100%;
	height: 100%;
	background: #fff;
	line-height: 0.8;
	-webkit-transition: -webkit-transform 0.5s;
	transition: transform 0.5s;
}

.link--ilin span:last-of-type::before {
	background: #1e1a1b;
}

.link--ilin:hover span:last-of-type::before,
.link--ilin span:first-of-type::before {
	-webkit-transform: translate3d(0,-150%,0);
	transform: translate3d(0,-150%,0);
}

.link--ilin:hover span:first-of-type::before,
.link--ilin span:last-of-type::before {
	-webkit-transform: translate3d(0,150%,0);
	transform: translate3d(0,150%,0);
}



.secondary-section h3{
	color: $background-color-main;
}
.navbar .nav > li > a:focus{
	color:#fff;
}

#portfolio-grid h3, .project-title h3{
	color: $background-color-white;
}

.sert_link{
	color: $background-color-white;
}
.sert_link:hover, .sert_link:focus{
	color: $background-color-white;
	text-decoration:underline;
}

.project-text{
	padding: 10px;
	padding-left: 0;
    font-weight: 100;
    color: #fff;
}
.project-text ul{
	padding-top: 7px;
    padding-bottom: 10px;
}

.social{
padding-top: 5px;
}
.social li a{
	display: block;
    background-color: $background-color-white;
    color: $background-color-main!important;
    border-radius: 50%;
    font-size: 30px;
    width: 50px;
    height: 50px;
    text-align: center;
}
.social li a:hover{
	background-color: $background-color-extra;
}
.social a i{
	padding-top:9px;
}

.contact .section{
	padding-bottom:0px;
}

