/* black-red */
$background-color-main: #212121 !default;
$background-color-extra: #FF5346 !default;
$background-color-white: #efeded  !default;

//$background-color-main: #181312 !default;
//$background-color-extra: #b7bedb !default;



/* black-yellow */
$background-color-main-yellow: #181A1C !default;
$background-color-extra-yellow: #FECE1A !default;



/* black-blue */
$background-color-main-blue: #212121 !default;
$background-color-extra-blue: #03A9F4  !default;



/* black-teal */
$background-color-main-teal: #212121 !default;
$background-color-extra-teal: #009688  !default;



/* black-orange */
$background-color-main-orange: #212121 !default;
$background-color-extra-orange: #FF9800  !default;








